body {
  margin: 0;
}

* {
  font-family: 'Teko', sans-serif;
}  

.flex-container {
  display: -webkit-flex;
  display: flex;
  background-color: #78909C;
  justify-content: center;
}

.flex-container > a {
  text-decoration: none;
}

.flex-box-nav {
  background-color: cornflowerblue;
/*  width: 100px;
  height: 100px;*/
  margin: 10px;
}

.flex-box-nav > .flex-item-title {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  color: white; /* Change this to appropriate color */
  background-color: #0288D1;
  font-size: 1.25em;
  padding: 5px;
  letter-spacing: 1px;
}

.flex-box-nav > .flex-item-body {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: rgba(164,181,197,0.5);
}

.flex-item-body img {
  margin: 50px;
  height: 6vw;
  width: 6vw;
}

.welcome-image {
  height: auto;
  width: auto;
  max-width: 100%;
}

.welcome-container {
  background-image: url("../img/background3.jpg");
  height: auto;
  width: auto;
  background-size: cover;
  max-width: 100%;
}

.intro-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.main-intro {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(164,181,197,0.6);
  margin: 0 10vw;
}

.main-intro p {
  color: #000000;
  font-size: 1.5em;
}

.list-areas{
	font-size: 1.5em;
}
.main-body p{
	color: #000000;
  font-size: 1.5em;
}

.main-intro h1 {
  font-size: 3.5em;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .main-intro {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(164,181,197,0.6);
    margin: 0 10vw;
  }
}

.list-item a {
  font-size: 1.5em;
}

.video-container {
  background-color: #B0BEC5; 
}

.yt-video {
  width: 50vw;
  height: 50vh;
  margin: 50px 25vw;
}

.map-map{
  width: 50vw;
  height: 50vh;
  margin: 50px 25vw;
}

.loadout-image{
	width: 50vw;
  height: 50vh;
  margin: 50px 25vw;
}

.flex-footer {
  display: -webkit-flex;
  display: flex;
  background-color: #607D8B;
  justify-content: center;
}



